/* .head {
    height: 64px;
    background-color: #000;
    position: relative;
} */

.head {
    width: 1180px;
    height: 64px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.nav {
    width: 762px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

ul li {
    color: #fff;
    margin-top: 25px;
    float: left;
    margin-right: 64px;
}

.nav img {
    position: absolute;
    margin-top: 17px;
}

.content {
    height: 1000px;
    background-color: #000;
    position: relative;
}

.content-image-1 {
    margin: auto;
    width: 1440px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.content-text-1 {
    margin: auto;
    width: 1000px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.title {
    color: #fff;
    font-size: 30px;
    margin-top: 140px;
    font-weight: 800;
}

.desc {
    color: #fff;
    font-size: 60px;
    margin-top: 20px;
    font-weight: 800;
}