.exercise-5a {
    font-family: Tahoma;
    font-size: 20px;
    font-weight: bold;
}

.exercise-5b {
    font-family: Arial;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.exercise-5b-2 {
    font-family: Arial;
    font-size: 15px;
    color: rgb(162, 36, 36);
    font-style: italic;
    margin-top: 0;
}

.exercise-5c {
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.exercise-5c-2 {
    font-family: Verdana;
    font-size: 12px;
    margin-top: 0px;
    color: gray;
}

.exercise-5c-3 {
    font-family: Verdana;
    font-size: 12px;
    margin-top: 0px;
    width: 230px;
    line-height: 20px;
}

.exercise-5c-4 {
    font-family: Verdana;
    font-size: 12px;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: green;
    color: white;
    border: 0;
    border-radius: 4px;
}

.exercise-5d {
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.exercise-5d-2 {
    font-family: Arial;
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 50px;
}

.exercise-5d-3 {
    font-family: Arial;
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 100px;
    color: rgb(112, 112, 244);
}

.exercise-5e {
    font-family: Arial;
    font-size: 10px;
    margin-bottom: 5px;
    color: rgb(133, 41, 41);
    margin-left: 140px;
}

.exercise-5e-2 {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0;
    margin-left: 110px;
}

.exercise-5e-3 {
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0;
}

.exercise-5e-4 {
    font-family: Arial;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 0;
    margin-left: 120px;
}

.exercise-5e-5 {
    font-family: Arial;
    margin-bottom: 5px;
    margin-top: 0;
    color: white;
    background: rgb(66, 129, 236);
    border: 0;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 140px;
}

.exercise-5f {
    font-family: Arial;
    font-size: 26px;
    margin-bottom: 5px;
}

.exercise-5f-2 {
    font-family: Arial;
    font-size: 14px;
    color: gray;
}

.exercise-5f-3 {
    font-family: Arial;
    font-size: 13px;
    color: rgb(4, 147, 4);
    margin-top: 0;
    margin-bottom: 5px;
}

.exercise-5f-4 {
    font-family: Arial;
    font-size: 13px;
    color: gray;
    margin-top: 0;
}

.exercise-5f-5 {
    font-family: Arial;
    font-size: 13px;
    color: rgb(180, 2, 2);
    margin-top: 0;
}

.exercise-5g {
    font-family: Arial;
    /* font-size: 26px; */
    margin-bottom: 5px;
}

.exercise-5g-2 {
    font-family: Arial;
    /* font-size: 14px; */
    color: gray;
}

.exercise-5g-3 {
    font-family: Arial;
    font-size: 14px;
    width: 450px;
    margin-top: 0;
    margin-bottom: 5px;
}

.exercise-5g-4 {
    font-family: Arial;
    font-size: 14px;
    /* color: gray; */
    margin-top: 0;
}

.exercise-5g-5 {
    font-family: Arial;
    font-size: 14px;
    margin-top: 0;
    color: rgb(8, 104, 215);
}