.request-button {
    background-color: #000;
    color: white;
    height: 36px;
    width: 100px;
    border: 0;
    margin-bottom: 50px;
}

.cart-button {
    background-color: rgba(255, 216, 20);
    height: 28px;
    width: 150px;
    border: 0;
    border-radius: 20px;
    margin-bottom: 50px;
}

.signup-button {
    background-color: rgba(46, 164, 79);
    color: white;
    height: 36px;
    width: 100px;
    border: 0;
    border-radius: 6px;
    margin-bottom: 50px;
    font-weight: bold;
}

.start-button {
    background-color: rgba(121, 82, 179);
    color: white;
    height: 36px;
    width: 100px;
    border: 0;
    border-radius: 6px;
    margin-bottom: 50px;
    margin-right: 10px;
    font-weight: bold;
}

.download-button {
    background-color: #fff;
    height: 36px;
    width: 100px;
    border: 1px;
    border-style: solid;
    border-radius: 6px;
    margin-bottom: 50px;
}

.apply-button {
    background-color: rgba(10, 102, 194);
    color: white;
    height: 36px;
    width: 200px;
    border: 0;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-right: 10px;
    font-weight: bold;
}

.save-button {
    background-color: #fff;
    color: rgba(10, 102, 194);
    font-weight: bold;
    height: 36px;
    width: 80px;
    border: 1px;
    border-style: solid;
    border-radius: 20px;
    margin-bottom: 50px;
}

.back-link {
    color: rgb(0, 113, 133);
}

.title {
    font-size: x-large;
    font-weight: bold;
}

.price {
    color: rgb(0, 118, 0)
}


.cart-button2 {
    background-color: rgba(255, 216, 20);
    height: 28px;
    width: 100px;
    border: 0;
    border-radius: 20px;
    margin-bottom: 50px;
}

.buy-button {
    background-color: rgba(255, 164, 29);
    height: 28px;
    width: 100px;
    border: 0;
    border-radius: 20px;
    margin-bottom: 50px;
}